#elementi non rilevanti quindi da non sincronizzare
__pycache__/
.ipynb_checkpoints
test/
data/
*.pyc
*.vscodeS
local_exec/classificatori/saved_model
local_exec/classifier_testing/esperimenti_ffnn/testing
local_exec/classifier_testing/esperimenti_ffnn/risultati