#elementi non rilevanti quindi da non sincronizzare
__pycache__/
.ipynb_checkpoints
test/
testing/
data/
*.pyc
*.vscodeS
risultati/modelli

*.aux 
*.bit 
*.blg 
*.bbl 
*.lof 
*.log 
*.lot 
*.glo 
*.glx 
*.gxg 
*.gxs 
*.idx 
*.ilg 
*.ind 
*.out 
*.url 
*.svn 
*.toc
*.fls
*.synctex.gz
*.run.xml
*.pdf
*.fls 
*.bcf
*.fdb_latexmk
